[MASTER]
ignore=BackendFile.py,
       DataDiagram.py,
       DesignerFile.py,
       DesignerGUI.py,
       DesignerGUI2.py,
       DwaveTab.py,
       GateFile.py,
       GUIHelper.py,
       IndicSelectWindow.py,
       LoginPageGUI.py,
       main.py,
       ParseCircuit.py,
       PartialSimulation.py,
       QuantumGlassSpinMode1D.py,
       QuantumVQDemo.py,
       SettingFile.py,
       SimulationFile.py,
       TensorContractionGenerate.py,
       Window.py,
       testBackend.py,
       testFileStrawberryField.py,
       testGateSimplification.py,
       testQUBOBackend.py,
       demos
