[MASTER]
ignore=BackendFile,
       DataDiagram,
       DesignerFile,
       DesignerGUI,
       DesignerGUI2,
       DwaveTab,
       GateFile,
       GUIHelper,
       IndicSelectWindow,
       LoginPageGUI,
       main,
       ParseCircuit,
       PartialSimulation,
       QuantumGlassSpinMode1D,
       QuantumVQDemo,
       SettingFile,
       SimulationFile,
       TensorContractionGenerate,
       Window,
       testBackend,
       testFileStrawberryField,
       testGateSimplification,
       testQUBOBackend
